<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Interior Health{% endblock %}</title>
  {% load static %}
  
  <!-- Ensure the favicon.ico is placed correctly in the static folder -->
  <link rel="icon" href="{% static 'images/favicon_io/myicon.ico' %}" type="image/x-icon">
  
  <!-- Link to the main stylesheet -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  
  <!-- Block for additional stylesheets specific to certain pages (like drugs.css) -->
  {% block extra_css %}{% endblock %}
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'users:login' %}">Login</a></li>
        <li><a href="{% url 'users:register' %}">Register</a></li>
        <li><a href="{% url 'users:profile' %}">Profile</a></li>
        <li><a href="{% url 'drug_list' %}">Drugs</a></li> <!-- Link to Drugs section -->
        <li><a href="{% url 'orders:order_list' %}">Orders</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <p>&copy; 2024 Interior Health. All rights reserved.</p>
  </footer>
</body>
</html>
